<mat-dialog-content class="flahscard-dialog">
  <h1>Flashcard</h1>
  <ng-container *ngIf="data.editing">
    <ng-container *ngIf="flashcardFormGroup">
      <form [formGroup]="flashcardFormGroup">
        <div class="question">
          <h3>Question</h3>
          <!-- <quill-view formControlName="question"> </quill-view> -->
          <quill-editor
            formControlName="question"
            (onEditorChanged)="updateForm($event)"
          ></quill-editor>
        </div>

        <div class="answer">
          <h3>Answer</h3>
          <quill-editor formControlName="answer"></quill-editor>
        </div>
      </form>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!data.editing">
    <form [formGroup]="flashcardFormGroup">
      <div class="question" formControlName="question"></div>

      <div class="answer" formControlName="question"></div>
    </form>
  </ng-container>
  <!-- END EDITING -->
</mat-dialog-content>
