<mat-dialog-content>
  <!-- NOTE Show this if we want to edit a book -->
  <ng-container *ngIf="data.isEditing">
    <h3>Edit the book</h3>
    <form [formGroup]="book">
      <input formControlName="title" ((input))="updateBook()" />
    </form>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Update</button>
    </mat-dialog-actions>
  </ng-container>
  <!-- NOTE Show this if we want to add a book -->
  <ng-container *ngIf="!data.isEditing">
    <h3>Add a new book</h3>
    <form [formGroup]="book">
      <input formControlName="title" />
    </form>
    <div>
      <button mat-button mat-dialog-close (click)="addBook()">Add</button>
    </div>
  </ng-container>
</mat-dialog-content>
