<mat-dialog-content class="book-modal">
  <!-- NOTE Decides if searching or adding manually -->
  <mat-tab-group class="book-modal__tabs">
    <!-- ANCHOR Adding -->
    <mat-tab label="Adding">
      <div class="modal__adding">
        <div class="adding__title">
          <h6>Add a new book manually</h6>
        </div>
        <form [formGroup]="book" class="modal__adding__form">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Author Name</mat-label>
            <input formControlName="author_name" matInput />
          </mat-form-field>
        </form>
        <form [formGroup]="bookReadableForm" class="modal__adding__file">
          <mat-label>File (Epub)</mat-label>
          <input
            #readableInput
            type="file"
            accept=".epub"
            (change)="loadFile($event)"
            formControlName="data"
          />
        </form>
        <!-- Displays the cover of the readable -->
        <div class="modal__cover">
          <img #cover [src]="bookCover" alt="coder" />
        </div>
        <div class="modal__chapters">
          <p *ngFor="let chapter of chapters">{{ chapter.label }}</p>
        </div>
        <div class="adding__add">
          <button mat-button (click)="addBook()">Add</button>
        </div>
      </div>
    </mat-tab>
    <!-- END Adding -->
    <!-- ANCHOR Searching -->
    <mat-tab class="book-modal__tabs__searching" label="Searching">
      <div class="modal__search">
        <div class="modal__search__title">
          <h6>Search for a Book</h6>
        </div>
        <div class="modal__search__input">
          <form>
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input matInput [(ngModel)]="searchTerm" name="searchTerm" />
            </mat-form-field>
            <div class="modal__search__input__btn">
              <librimem-primary-button
                (click)="searchBook()"
                content="Search"
              />
            </div>
          </form>
        </div>
        <!-- NOTE Here we show the results from openlibrary.org -->
        <div class="modal__search__result">
          <mat-spinner *ngIf="loading" mode="indeterminate" />
          <librimem-book-search-card
            *ngFor="let searchBook of searchResults$ | async"
            [book]="searchBook"
          />
        </div>
      </div>
    </mat-tab>
    <!-- END Searching -->
  </mat-tab-group>
</mat-dialog-content>
