@import '../../../../sass/variables.scss';

.chapter__card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  .chapter__card__title {
  }
  .chapter__card__delete {
  }

  .chapter__card__background {
  }
}
