<div class="chapter__card mat-elevation-z10">
  <div class="chapter__card__index">{{ chapter.index }}</div>
  <div class="chapter__card__title">{{ chapter.title }}</div>
  <div class="chapter__card__delete">x</div>
  <!-- NOTE The background shows the progress of the chapter -->
  <div class="chapter__card__background"></div>
  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ chapter.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="chapters">
          <p>{{ chapter.title }}</p>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion> -->
</div>
