<div
  mat-card
  class="chapter__card mat-elevation-z10"
  (click)="navigateToChapterPage()"
>
  <div class="chapter__card__index">{{ chapter.index }}</div>
  <div class="chapter__card__title">{{ chapter.title }}</div>
  <!-- NOTE The background shows the progress of the chapter -->
  <div class="chapter__card__background"></div>
  <div class="chapter__card__delete">
    <librimem-delete-button (click)="deleteChapter()">
      <img
        src="../../../../../assets/icons/delete.png"
        alt="delete"
        style="width: 20px; height: 20px"
      />
    </librimem-delete-button>
  </div>

  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ chapter.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="chapters">
          <p>{{ chapter.title }}</p>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion> -->
</div>
