.chapter-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .chapter-modal__index {
  }
  .chapter-modal__title {
  }
  .chapter-modal__starting-page {
  }
  .chapter-modal__btn {
    &:hover {
      cursor: pointer;
    }
  }
}
