<mat-dialog-content class="chapter-modal">
  <form [formGroup]="chapter">
    <div class="chapter-modal__title">
      <h3>Add a Chapter</h3>
    </div>
    <div class="chapter-modal__index">
      <mat-form-field>
        <mat-label>Index</mat-label>
        <input matInput formControlName="index" />
      </mat-form-field>
    </div>
    <div class="chapter-modal__title">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <div class="chapter-modal__starting-page">
      <mat-form-field>
        <mat-label>Starting Page</mat-label>
        <input matInput formControlName="page" />
      </mat-form-field>
    </div>
  </form>
  <div class="chapter-modal__btn">
    <librimem-primary-button (click)="addChapter()" content="Add" />
  </div>
</mat-dialog-content>
