<mat-toolbar class="app__toolbar" (mouseleave)="toggleShowRow2()">
  <ul class="entities" (click)="toggleShowRow2()">
    <li class="entity">Book</li>
  </ul>
  <mat-toolbar-row
    [ngClass]="showRow2 ? 'toolbar__row2' : 'toolbar__row2 hidden'"
    class="toolbar__row2"
  >
    <ul class="row2__listing">
      <li class="listing__link">Collections</li>
      <li class="listing__link">Chapters</li>
      <li class="listing__link">Summaries</li>
      <li class="listing__link">Flashcards</li>
      <li class="listing__link">Words</li>
      <li class="listing__link">Subjects</li>
      <li class="listing__link">Notes</li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
