$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

$primary-color: red;
$primary-variant-color: red;
$secondary-color: blue;
$secondary-variant-color: blue;

$primary-typo-color: black;
$secondary-typo-color: red;
