.registration-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .registration-page__title {
  }

  .registration__form {
    .registration__username {
    }
    .registration__password {
    }
  }
  .registration__button {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
    }
  }
  .registration-page__login-ref {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
