.book-presentation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .book-presentation__container {
    .book-presentation__title {
    }
    .book-presentation__cover {
    }
    .book-presentation__status {
    }
    .book-presentation__author-name {
    }
    .book-presentation__pages {
    }
    .book-presentation__progress {
    }
    .book-presentation__language {
    }
    .book-presentation__rating {
    }
    .book-presentation__resources {
    }
  }
}
