.lm-base-button {
  --color: white;
  padding: 0.5rem;
  background-color: var(--color);
  letter-spacing: normal;
  font-weight: bolder;
  &:hover {
    cursor: pointer;
    background-color: var(--color);
    color: white;
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
