<div class="app">
  <header>
    <librimem-toolbar class="toolbar"></librimem-toolbar>
  </header>
  <body>
    <div class="body__breadcrumb">
      <librimem-breadcrumb></librimem-breadcrumb>
    </div>
    <div class="body__sidenav">
      <librimem-sidenav></librimem-sidenav>
    </div>
    <!-- NOTE Shows the content of the pagee -->
    <div class="body__main">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </body>
  <footer>
    <!-- TODO footer -->
  </footer>
</div>
