@import '../../sass/variables.scss';

.drawer {
  width: 100%;
  height: 100vh;

  mat-drawer-content {
    .drawer__icons {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
  }
}
