<div class="chapter-presentation">
  <!-- title -->
  <div class="chapter-presentation__title">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [placeholder]="chapter.title" />
    </mat-form-field>
  </div>
  <!-- favorite -->
  <div class="chapter-presentation__favorite">
    <librimem-favorite-button />
  </div>
  <!-- index -->
  <!-- page start -->
  <!-- amount of pages (end next chapter - start actual chapter) -->
  <!-- status (to_read, reading, read) -->
  <div class="chapter-presentation__resources">
    <!-- flashcards -->
    <!-- notes -->
    <!-- summary -->
    <!-- citation -->
    <!-- word -->
  </div>
</div>
