<div class="chapter-presentation">
  <form [formGroup]="chapter" class="chapter-presentation__form">
    <!-- title -->
    <div class="chapter-presentation__title">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <!-- favorite -->
    <div class="chapter-presentation__favorite">
      <librimem-favorite-button (click)="toggleFavorite()" />
    </div>
    <!-- index -->
    <!-- TODO Check if chapter index already exists -->
    <div class="chapter-presentation__index">
      <mat-form-field>
        <mat-label>Index</mat-label>
        <input matInput formControlName="index" />
      </mat-form-field>
    </div>
  </form>
  <!-- page start -->
  <!-- amount of pages (end next chapter - start actual chapter) -->
  <!-- status (to_read, reading, read) -->
  <div class="chapter-presentation__resources">
    <!-- flashcards -->
    <!-- notes -->
    <!-- summary -->
    <!-- citation -->
    <!-- word -->
  </div>
</div>
