<div class="home-page">
  <ul>
    <li>Add chapters</li>
    <li>See how far you have come.</li>
    <li>Look back on the work you have done.</li>
  </ul>
  <div class="home-page__auth">
    <div class="auth__login">
      <librimem-primary-button (click)="navigateToAuth('login')">
        Login
      </librimem-primary-button>
    </div>
    <div class="auth__register">
      <librimem-primary-button
        content="Register"
        (click)="navigateToAuth('register')"
      />
    </div>
  </div>
</div>
