@import '../../../../sass/variables.scss';

.book-card {
  width: 100%;
  height: fit-content;
  margin: 3rem;
  padding: 1rem;
  display: grid;
  grid-template-areas:
    'header'
    'title'
    'subtitle'
    'content';
  grid-template-rows: auto;

  &:hover {
    cursor: pointer;
  }

  mat-card-header {
    grid-area: header;
    margin-bottom: 1rem;
    display: flex;
    justify-content: right;
    .card__delete {
      width: fit-content;
      height: fit-content;
      mat-icon {
        color: red;
        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
  }

  mat-card-title {
    grid-area: title;
  }
  mat-card-subtitle {
    grid-area: subtitle;
  }

  mat-card-content {
    grid-area: content;
  }
}
