@import '../../sass/variables.scss';

.breadcrumb {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  font-weight: bolder;
  padding: 1rem;
  user-select: none;

  background-color: rgb(180, 180, 255);

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 20px;
  }

  .breadcrumb__unit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    li {
      width: fit-content;
      margin-right: 0.5rem;
      &:hover {
        cursor: pointer;
        span + breadcrumb__link {
          color: black;
        }
      }
      span {
        padding: 0.25rem;
        color: white;
      }
      .breadcrumb__link {
        width: 100%;
        color: white;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}
